@tailwind base;
/* Cache buster: v2 */
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-romantic-50 text-slate-800 overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }
}